html {
  line-height: 1.15;
}

body {
  margin: 0;
}

.App {
  text-align: center;
  height: 100vh;
  font-size: calc(12px + 1vmin);

  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  --background: #f4f4f4;
  --foreground: #282c34;
  --container-background: #fff;
  --primary: #597eff;
  --primary-dark: #005ada;
  --shadow: #777;
  --light-shadow: #ccc;
  --highlight: #ccccff66;
  --translucent-shadow: #00000015;
  --primary-translucent-shadow: #597eff40;

  --error: #f01438;

  background-color: var(--background);
  color: var(--foreground);
}

@media only screen and (min-width: 48em) {
  .App {
    display: grid;
    grid-template-rows: 3em auto;
    grid-template-columns: 15em auto;
    grid-template-areas: "search-bar search-bar" "nav-bar main";
  }
  .App > section#main {
    grid-area: main;
    height: auto;
  }
}

.App > section {
  flex-grow: 1;
  overflow-y: scroll;
}
.App > nav {
  flex-grow: 0;
  flex-basis: 3em;
}

#main > section {
  padding-bottom: 2em;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

section .card-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  align-items: stretch;
  justify-content: space-evenly;
}

section .card {
  /* height: 8rem; */
  /* width: 80vw; */
  height: 100%;
  min-height: 5em;
  margin: 1em 0;
  border-radius: 0.5rem;
  background-color: var(--container-background);
  border: solid 0.5px var(--shadow);
  box-shadow: 0 0 1.5em 0 var(--translucent-shadow);
  transition: box-shadow 0.1s ease-in-out, translate 0.2s ease;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

section .card:hover,
section .card:active {
  box-shadow: 0 0 1.5em 0 var(--primary-translucent-shadow);
  translate: -1px -2px;
}

a {
  color: var(--foreground);
  font-weight: 600;
  text-decoration: inherit;
}

a:hover,
a:focus {
  color: var(--primary);
}

a:disabled {
  color: var(--shadow);
}

.button {
  background: var(--container-background);
  color: var(--foreground);
  padding: 0.5em;
  border: 0.5px solid var(--light-shadow);
  border-radius: 0.2em;
  box-shadow: 1px 1px 5px var(--translucent-shadow);
  transition: 0.2s ease;
}

.button svg {
  color: inherit;
}
.button svg path {
  color: inherit;
  fill: currentColor;
}

.button:hover,
.button:focus {
  background: var(--primary);
  color: var(--background);
  box-shadow: 2px 2px 5px 3px var(--primary-translucent-shadow);
}

.button:disabled {
  background: var(--light-shadow);
  color: var(--shadow);
  box-shadow: none;
  cursor: not-allowed;
}

.button.primary {
  border: 0.5px solid var(--primary);
  color: var(--primary-dark);
  font-weight: 600;
}

.button.primary:hover,
.button.primary:focus {
  color: var(--background);
  box-shadow: 0px 0px 2px var(--highlight);
}

div.msgbox {
  position: relative;
  top: 15%;
  width: 80%;
  margin: auto;
  margin-bottom: 1em;
  padding: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  border: solid 0.5px var(--shadow);
  box-shadow: 0 0 1.5em 0 var(--translucent-shadow);
  border-radius: 0.5em;
  background-color: var(--container-background);
}

div.msgbox p {
  line-height: 1.5;
}

.primary {
  color: var(--primary);
}

.error-msg {
  color: var(--error);
}

@media only screen and (min-width: 48em) {
  .msgbox {
    max-width: 50vw;
  }
}

.text-input {
  background-color: var(--container-background);
  color: var(--foreground);
  padding: 0.5em 0.6em;

  border: 0.5px solid var(--light-shadow);
  border-radius: 4px;
  transition: box-shadow 0.1s ease;
}

.text-input::placeholder {
  color: var(--shadow);
}

.text-input:focus {
  outline: 2px solid var(--primary);
}

.input-comment {
  display: block;
  margin: 1em 0;
  width: 100%;
}
