div .category {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.category h3 {
  align-self: flex-start;
  margin-bottom: 0.5em;
}

.category small {
  text-align: justify;
  /* align-self: flex-start; */
  color: var(--shadow);
}
