div.comments-wrapper {
  /* max-width: 80vw; */
  text-align: justify;
}

#post-comment-form button {
  margin-right: 1em;
}

.comment {
  border-collapse: collapse;
  border-top: 0.5px solid var(--shadow);
  padding: 1em 0.5em;
}
.comment:nth-of-type(1) {
  border-top: none;
}

.comment p {
  font-size: 90%;
  color: var(--shadow);
  word-break: break-all;
}

.comment p .info {
  color: var(--foreground);
  font-weight: bold;
}

p.comment-body {
  font-size: 1rem;
  color: var(--foreground);
}

.comment .voter {
  font-size: 90%;
  gap: 0;
}

.comment .voter .info {
  margin: 0.2em;
}

@media only screen and (min-width: 48em) {
  div.comments-wrapper {
    max-width: 50vw;
    margin: auto;
  }
}
