.loader {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader svg {
  position: relative;
  bottom: 6em;
  width: min(50vw, 50vh);
  height: min(50vw, 50vh);
  --background: var(--background);
  --svg-colour-1: var(--shadow);
  --svg-colour-2: var(--light-shadow);
  --svg-colour-3: var(--primary);
  --svg-colour-4: var(--primary-translucent-shadow);
}
