#login-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
  align-items: center;
}

#login-form input#username {
  margin: 0.5em 0;
}

#login-form button {
  width: fit-content;
}

#login-form input.error {
  outline: 2px solid var(--error);
  animation: shake 0.2s ease-in 3;
}

@keyframes shake {
  0%,
  50%,
  100% {
    translate: 0;
  }
  25% {
    translate: -3px;
  }
  75% {
    translate: 3px;
  }
}

#login-form .error-msg {
  text-align: left;
  transition: 1s ease;
}
