#nav-bar {
  flex-shrink: 0;
  order: 1;

  grid-area: nav-bar;

  width: 100vw;
  height: 3em;
  z-index: 2;

  background: var(--foreground);
  color: var(--background);
}

#nav-bar > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

#nav-bar ul li {
  flex-grow: 1;
  display: block;
  height: 100%;
  padding: 0;
}

#nav-bar ul li:nth-child(2) {
  border-left: 3px double var(--shadow);
  border-right: 3px double var(--shadow);
}

#nav-bar a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--background);
}

#nav-bar a:hover,
#nav-bar a:focus {
  background: var(--primary);
}

@media only screen and (min-width: 48em) {
  #nav-bar {
    width: auto;
    height: auto;
  }
  #nav-bar ul {
    display: flex;
    flex-direction: column;
  }

  #nav-bar ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;
    align-items: stretch;
  }

  #nav-bar ul li:nth-child(2) {
    border: none;
    /* border-top: 3px double var(--shadow); */
    /* border-bottom: 3px double var(--shadow); */
  }
  #nav-bar ul li:nth-child(2):before,
  #nav-bar ul li:nth-child(2):after {
    content: "";
    width: 50%;
    height: 1%;
    position: relative;
    align-self: center;
    border-top: 0.5px solid var(--light-shadow);
    border-bottom: 0.5px solid var(--light-shadow);
  }
  #nav-bar ul li:nth-child(2):before {
    bottom: 40%;
  }
  #nav-bar ul li:nth-child(2):after {
    top: 40%;
  }

  #nav-bar a {
    display: inline;
    height: auto;
    padding: 1em;
  }
}
